


<%= form_for @page do |f| %>
<table>
	<tr>
		<td colspan="2"><%= f.error_messages %></td>
	</tr>
	<tr>
		<td> <%= f.label :title , :style => "text-align: left" %> </td>
		<td><%= f.text_field :title ,  :class => 'span6'%></td>
	</tr>
	<tr>
		<td> <%= f.label :color , :style => "text-align: left"  %> </td>
		<td> <%= f.text_field :color ,  :class => 'span6'%></td>
	</tr>
	<tr>
		<td> <%= f.label :description  , :style => "text-align: left" %> </td>
		<td> <%= f.text_area :description ,  :class => 'span7'%></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit  :class => "btn primary large" %></td>
	</tr>
	
</table>	
	

<% end %> 