<table id="FeatureMatrix">
	<tr>
		<th class="matrixColumn"><b>Name</b></th>
		<th class="matrixColumn"><b> Description </b></th>
		<th></th>
	</tr>
	<% for page in @pages %>
	<tr>
		<td class="matrixItem"><%= page.name %></td>
		<td class="matrixItem"><%= page.description %></td>
     <td class="matrixEven"><%= link_to "Show", page %></td>
     <td class="matrixOdd"><%= link_to "Edit", edit_page_path(page) %></td>
     <td class="matrixEven"><%= link_to "Destroy", page, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
